<div class="container my-5 about-us-content">
  <h1>About Us</h1>
  <% if @content %>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= markdown_to_html(@content.content) %>
      </div>
    </div>
  <% else %>
    <p>Content not found.</p>
     <p>Content not found.</p>
  <% end %>
</div>
