// app/assets/stylesheets/application.scss


.navbar-brand {
  font-weight: bold;
  /* Add any specific brand styling you want here */
}

/* Center the search bar by growing it to fill available space */
.search-form {
  flex-grow: 1;
}

/* Style nav links */
.nav-link {
  font-weight: bold;
  /* Additional link styling as needed */
}

// Styles for the order confirmation page
.container {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    background: #f8f9fa;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

address {
  background: #5f81a2;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-style: normal;
}

h3 {
  color: #007bff;
}

.notice, .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}