<!-- app/views/products/index.html.erb -->
<div class="container mt-4 mb-4">
  

  <!-- Navigation Links -->
  <div class="d-flex justify-content-center mb-4">
    <%= link_to 'On Sale', products_path(on_sale: true), class: 'btn btn-info mx-2' %>
    <%= link_to 'New Products', products_path(new: true), class: 'btn btn-info mx-2' %>
  </div>

  <!-- Heading -->
  <h2 class="text-center" style="font-family: 'Open Sans', sans-serif; font-weight: bold;">Available Products</h2>
  
  <div class="row mt-4">
    <%= render partial: 'products/product', collection: @products, as: :product %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @products %>
  </div>
</div>
